.main
{
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: #0404e3;
    align-items: center;
    color: hwb(0 100% 0%);
    font-size: 20px;
}
.main > .selected {
    background: aqua;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
    color: #0404e3;
    font-weight: bold;
}
.main img {
    height: 3em;
    width: 200px;
}
.main div
{
    cursor: pointer;
}
.sign-up{
    color:blue;
    cursor: pointer;
}


//new

h1
{
    color:hwb(234 5% 19%);
    padding-bottom: 0%;
    
}

.HMSName
{
    height: 3em;
    width: 100%;
    
}
#div1
{
   background-color: aqua;
    
   
  
}
